/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/*Responsive design*/

@media (max-width: 1000px) {
    .container{
        margin: 0 auto;
    }
    .inner-wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .inner-wrapper div.product-description-wrapper{
        width: 90%;
    }
    .inner-wrapper div.image-wrapper{
        width: 70%;
        height: 50%;
    }
    .image-wrapper {
        width: 100%;
        margin-bottom: 1em;
    }
    .image-wrapper img {
        height: 60%;
    }
    .product-description-wrapper{
        width: 100%;
        align-items: center;
    }
    .tabs-navbar {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .tabs-nav{
        margin: 0 auto;
    }
    .tabs-container{
        font-size: 1.3em;
    }
    .comments-wrapper{
        width: 100%;
    }
    .form-wrapper{
        width: 100%;
    }
    .comment-submit{
        width: 50%;
    }
}
/*to limit font-size*/
@media screen and (min-width: 1024px) {
    .product-heading h1{
        font-size: 40px;
    }
    .price h1{
        font-size: 40px;
    }
    .product-subheading h3{
        font-size: 22px;
    }
    .tabs-navbar div{
        font-size: 21px;
    }
    .tab-body{
        font-size: 22px;
    }
    .buttons-wrapper div{
        font-size: 20px;
    }
    #comment-form input{
        font-size: 19px;
    }
    .stars-wrapper div,
    .reviews-rating div{
        font-size: 27px;
    }
    .new-comment div{
        font-size: 18px;
    }
}

/* General */

h1 {
    font-weight: bold;
    font-size: calc(24px + 16 * (100vw / 1024));
}

h3 {
    font-weight: bold;
    font-size: calc(10px + 12 * (100vw / 1024));
}

/* Main block */

.container {
    margin: 2em auto;
    flex-direction: column;
    max-width: 1000px;
}
.product-title{
    justify-content: center;
    text-align: center;
}
.inner-wrapper {
    display: flex;
    width: 100%;
    padding: 1.2em;
}

.image-wrapper {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-image{
    width: 100%;
    height: 70%;
    margin: 0 auto;
}
.slider{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.slider-wrapper{
    width: 500%;
    height: 100%;
    display: flex;
    left: 0;
    position: relative;
    transition: all ease 1s;
}
.slider-slide{
    width: 20%;
    height: 100%;
}
.slider-slide img{
    width:100%;
    height:100%;
}
.slider-buttons{
    display: flex;
    position: relative;
    bottom: 50%;
    width: 100%;
}
.slider-button-prev, .slider-button-next{
    width: 50%;
}
.slider-button-prev img{
    float: left;
    cursor: pointer;
}
.slider-button-next img{
    float: right;
    cursor: pointer;
}

.secondary-slider{
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slider-secondary-wrapper{
    width: 233%;
    margin: 2em auto;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.slider-secondary-wrapper div{
    padding-right: 1em;
    height: auto;
    width: 33%;
}
.pagination{
    display: flex;
    position: relative;
    bottom: 10%;
    text-align: center;
    justify-content: center;

}
.pagination-wrapper{
    display: flex;
}
.pagination div{
    cursor: pointer;
    padding-right: 0.1em;
    font-size: 2em;
}
.pagination div:hover{
    color: green;
}

/*Product description*/
.product-description-wrapper {
    padding-left: 1.2em;
    width: 65%;
    display: flex;
    flex-direction: column;
}
.general-rating-wrapper{
    display: flex;
    justify-content: center;
}
.reviews-rating{
    display: flex;
    flex-direction: row;
    color: gray;
    cursor: pointer;
}

.product-heading {
    margin-bottom: 1.2em;
}

.product-subheading {
    margin-bottom: 1.2em;
}

.price {
    font-weight: bold;
    color: green;
    margin-bottom: 0.5em;
}

/* Tabs */

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.5em;
}

.tabs-navbar {
    display: flex;
    margin-bottom: 1.2em;
    flex-wrap: wrap;
}

.tabs-nav {
    font-size: calc(13px + 8 * (100vw / 1024));
    font-weight: bold;
    padding-bottom: 0.3em;
    margin-left: 0;
    margin-right: 1em;
    cursor: pointer;
}

.tabs-nav:hover {
    color: #EC5118;
}

.tab {
    display: none;
}

.tabs-container{
    font-size: calc(14px + 8 * (100vw / 1024));
}

/* Buttons */

.buttons-wrapper {
    display: flex;
    user-select: none;
    width: 100%;
    height: 3em;
    justify-content: center;
}

.quantity-button-wrapper,
.add-to-cart-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    font-weight: bold;
    font-size: calc(12px + 8 * (100vw / 1024));
}

.quantity-button-wrapper {
    border: 2px solid lightgray;
    margin-right: 1.2em;
}

.quantity-button-wrapper .button-name {
    width: 50%;
    text-align: center;
}

.qnt-changer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.qnt-changer div:nth-child(2n+1) {
    cursor: pointer;
}

.add-to-cart-button-wrapper {
    background-color: green;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.add-to-cart-button-wrapper:hover {
    background-color: darkgreen;
}

/*Comment area*/

.comments-wrapper{
    margin-top: 3em;
    max-width: 1000px;
}

.rating-wrapper {
    display: flex;
    align-items: center;
}

.stars-wrapper {
    display: flex;
}

.stars-wrapper .star {
    cursor: pointer;
    color: gray;
}

.star:hover{
    color: gold; //change
}
.stars-wrapper,
.reviews-rating{
    font-size: calc(15px + 12 * (100vw / 1024));
}
.comments-wrapper{
    width: 100%;
}
.all-comments{
    margin: 0 auto;
    width: 60%;
}

.new-comment{
    width: 100%;
}

.comment-star{
    float: left;
    width: 50%;
    color: gold;
    font-size: calc(10px + 8 * (100vw / 1024));
}

.comment-date{
    float: right;
    width: 50%;
    height: 1.5em;
    text-align: right;
    font-size: calc(10px + 8 * (100vw / 1024));;
}

.comment-text{
    padding-top: 1.5em;
    font-size: calc(10px + 8 * (100vw / 1024));
}

.form-wrapper{
    margin: 0 auto;
    width: 60%;
}

.comment-input{
    margin: 1em auto;
    width: 100%;
    height: 80px;
}

.comment-submit{
    width: 5em;
    height: auto;
    float: right;
    font-size: calc(10px + 8 * (100vw / 1024));
}